.cell{
    background:white;
    height:18px;
    width:18px;
    border:1px solid grey;
    cursor:pointer;
    /* transition-duration:.2s; */
}



div.row-container:has(.cell:hover) .cell{
    opacity:.8;
}

.cell:hover{
    opacity:.5;
    border:5px solid red;
    height:9px;
    width:10px;
}

.fake-cell{
    width:20px;
    height:20px;
    display: inline-block;
}

.fake-cell.i{
    transform:rotate(315deg);
    text-align: left;
}